<header>
  <h1>
<!--    Cities of <%#= link_to(@state.name, @state) %>-->
  </h1>
</header>

<ul id="cities">
  <% @cities.each do |city| %>
    <li>
      <%= link_to(city.name) %>
    </li>
  <% end %>
</ul>