$primary-color: blue;
$secondary-color: #f0f0f0;
header#page-header {
  color: $secondary-color;
  background-color: $primary-color;
  padding: 5px;
  text-align: center;
}

footer#page-footer {
  color: $primary-color;
  background-color: $secondary-color;
  padding: 5px;
  text-align: center;
}